.navbar{
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 65px;
  width: 99vw;
  padding: 0 2%;
  color: black;
  background-color: rgba(255, 255, 255, 0.95);
  border-bottom: 1px solid #dfdfdf;
}
.navbar .logo-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: max(2vw, 12px);
  font-size: 1.2rem;
  align-items: center;
}
.navbar .logo{
  width: 25px;
  color: white;

}
.navbar .burger{
  position: relative;
  left: -16px;
  border: 1.5px solid #dfdfdf;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 19px;
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2px;
  cursor: pointer;
}
.navbar .burger span{
  border: 0.5px solid #575757;
  width: 13px;
  border-radius: 2px;
}
.navbar ul{
  display: flex;
  gap: 40px;
  list-style: none;
}
.navbar ul li{
  cursor: pointer;
}
.nav-right{
  display: flex;
  align-items: center;
  gap: max(1vw, 12px);
}
.navbar select{
  padding: 5px 8px;
  border-radius: 6px;
  border: 2px solid black;
  background: transparent;
  color: black;
}
.navbar select option{
  background-color: #09005c;
  color: white;
}
.navbar button{
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 25px;
  border-radius: 20px;
  font-size: 15px;
  font-weight: 500;
  color: rgb(199, 199, 199);
  background: black;
  border: none;
  cursor: pointer;
  transition: ease 0.3s;
}
.navbar button:hover{
  color: white;
  font-size: 16px;
  padding: 7px 15px;
}
.navbar button  img{
  width: 20px;
}
.side-bar{
  position: fixed;
  height: 100vh;
  width: 250px;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  font-weight: 500;
  background-color: white;
  z-index: 5;
  padding: 25px;
  gap: 30px;
  transition: ease-in-out 0.5s;
}
.on{
  left: -100%;
}
.side-bar .burger2{
  position: absolute;
  left: 80%;
}

@media (max-width: 900px) {
  .navbar{
    padding: 20px 8%;
  }
  .navbar button{
    gap: 8px;
    padding: 8px 18px;
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  .navbar{
    padding: 20px 5%;
  }
  .navbar ul{
    display: none;
  }
  .navbar button img{
    width: 12px;
  }
  @media (max-width: 500px){
    .navbar{height: 60px;}
    .navbar .logo-container{
      font-size: 0.8rem;
      gap: 0px;
    }
    .navbar .logo{
      width: 16px;
    }
    .navbar .burger{
      border:1px solid black;
      padding: 12px;
      left: -10px;
    }
    .navbar .burger span{
      border-color: black;
    }
    .navbar select{
      padding: 1px;
    }
    .navbar button{
    gap: 5px;
    padding: 5px 6px;
    border-radius: 20px;
    font-size: 12px;
    color: white;
    }
    .navbar button img{
      width: 12px;
    }
    .side-bar .burger2{
    position: absolute;
    left: 80%;
    }
  }
  @media (max-width: 365px){
    .navbar select{
      font-size: 10px;
    }
    .navbar button{
      font-size: 10px;
    }
    .navbar .burger span{
      border-color: black;
    }
  }
}